body{
	margin:0;
	background-color: #e5e8f2;
	font-family: 'PT Serif', serif;
}

header{	
	display: flex;
	flex-direction: row;
	background-color: #3c5a98;
	align-items: flex-end;
	height: 50px;
}

#title-head{
	color: white;
	font-family: 'PT Serif', serif;
	margin: 0;
	margin-left: 3%;
	font-size: 35px;
}

main{
	display: flex;
	margin: auto;
	justify-content: space-around;
}

#img-left{
	width: 40%;
}
article{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:40%;
	border-radius: 30px;
	margin: 10px;
	background-color: white;
	box-shadow: 3px 3px 3px black;
}
p{
	width:400px;
}
div{
	display: flex;
	flex-direction: row;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
#lien{
	font-size: 20px;
	font-family: 'PT Serif', serif;
	color: #3c5a98;
}
section{
	display: flex;
	justify-content: space-between;
	width: 60%;
}

#img-right{
	width: 30%;
}
@keyframes tourne {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  10% { transform: translate(0px, 0px) rotate(36deg); }
  20% { transform: translate(0px, 0px) rotate(72deg); }
  30% { transform: translate(0px, 0px) rotate(108deg); }
  40% { transform: translate(0px, 0px) rotate(144deg); }
  50% { transform: translate(0px, 0px) rotate(180deg); }
  60% { transform: translate(0px, 0px) rotate(216deg); }
  70% { transform: translate(0px, 0px) rotate(252deg); }
  80% { transform: translate(0px, 0px) rotate(288deg); }
  90% { transform: translate(0px, 0px) rotate(324deg); }
  100% { transform: translate(0px, 0px) rotate(360deg); }
}
div:hover #img-right{
	animation: tourne 0.8s;
 	animation-iteration-count: 1;		
}
.logo{
	width: 100px;
	text-align: center;
}
.img-tel{
	width: 100px;
}
@keyframes saut {
  0% { transform: translate(0px, 0px) ; }
  10% { transform: translate(0px, -1px) ; }
  20% { transform: translate(0px, -3px) ; }
  30% { transform: translate(0px, -5PX) ; }
  40% { transform: translate(0px, -6px) ; }
  50% { transform: translate(0px, -7px); }
  60% { transform: translate(0px, -5px); }
  70% { transform: translate(0px, -3px) ;}
  80% { transform: translate(0px, -2px) ; }
  90% { transform: translate(0px, 1Px) ; }
  100% { transform: translate(0px, 0px) ; }
}
.img-tel:hover{
	animation: saut 0.5s;
  	animation-iteration-count: infinite;
}
footer{
	text-align: center;
	font-family: 'PT Serif', serif;
	color: #3c5a98;
}