body{
	background-color:#01b2ff;
	margin: 0;
	font-family: 'Big Shoulders Display', cursive;
}
main{
	display: flex;
	flex-direction: column;
	align-items: center;	
}
h1{
	color: white;
	text-transform: uppercase;
}
header{
	background-color: white;
}
#head-log{
	width: 150px;
	margin: 1%;
}
#img-center{
	width: 90%;
	text-align: center;
}
section{
	margin-top: 4%;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
}
article{
	width:250px ;
	height:390px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	box-shadow: 4px 4px 5px black;
}
h2{
	text-decoration: underline overline #01b2ff ;
	text-align: center;
}
p{
	margin-inline:10%;
	font-size: 126%;
}
a{text-align: center;}
div{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height:100%;
}
@keyframes zoom {
  0% { transform: scale(1); }
  10% { transform: scale(1.1); } 
  100% { transform: scale(1.2); }
}
.res-img{
	width: 40%;
}

a:hover .res-img{
	animation: zoom 0.5s;
 	animation-iteration-count: 1;
 	transform: scale(1.2);
}

.tel-img{
	width: 50%;
}
a:hover .tel-img{
	animation: zoom 0.5s;
 	animation-iteration-count: 1;
 	transform: scale(1.2);
}
footer{
	height: 3%;
	margin-top: 2%;
	text-align: center;
	background-color: white;
	height: 40px;
	font-size: larger;
}